<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{groupName}}</title>
    <h1> &#9812 {{groupName}} &#9812</h1>
    <h3>&#9884 Owner : {{username}} &#9884</h3>
</head>
<body>
Enter the user that you would like to add to <font color = "#00bfff"> {{groupName}}. </font> <br>
Please <font color = "red"> check </font>  the group name to confirm.
<form action= "/add_friend_to_groupauth" method="POST">
	<h3>New Member:</h3>
	<input type="text" name = "username" placeholder="username" required/>
	<input type="submit" value = "Add To Group" />
    {% if error %}
		<p class="error"><strong>Try again.</strong><br> {{error}}</p>
	{% endif %}
    {% if success %}
		<p class="success"><strong>User added to group.</strong><br> {{success}}.</p><br>
    <font color="HighlightText">{{member}} is now a member of {{groupName}}!</font>
	{% endif %}
</form>
<br><br>
<a href="/addGroup">Create a New Group</a>
<br>
<a href="/home">Back Home</a>
<br>
</body>
</html>