<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Friend Group &#9813</title>
    <h1>Create Friend Group &#9813:</h1>
</head>
<body>
Enter a valid group name below {{username}}
<form action= "/addGroupAuth" method="POST">
	<h3>New Group:</h3>
	<input type="text" name = "name" placeholder="Group Name" required/> </br>
    <input type="text" name = "description" placeholder=" Any Description" required/> </br>
	<input type="submit" value = Confirm />
    {% if error %}
		<p class="error"><strong>Try again.</strong><br> {{error}}</p>
	{% endif %}
    {% if success %}
		<p class="success"><strong>Friend Group Added.</strong><br> {{success}} {{groupName}}</p>
	{% endif %}
</form>
</body>
<br><br>
<a href="/friendgroups">Existing Friend Groups</a>
<br>
<a href="/home">Back Home</a>
<br>

</html>